extends layout

block content
  .container#app
    .row
      h1 Admin
    .row
      input(type="password", placeholder="Admin Password", rv-value="project.password")
    .row
      h5 Create New Project
    .row
      input(type="text", placeholder="Project Name", rv-value="project.name")
      input(type="text", placeholder="Template URL", rv-value="project.templateUrl")
      button#btnCreate.button-primary(rv-hide="app.hideCreate") Create

  script(type='text/javascript', src='/javascripts/admin.js')
