doctype html
html
  head
    title= title
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel='stylesheet', href='/stylesheets/normalize.css')
    link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Raleway:400,300,600')
    link(rel='stylesheet', href='/stylesheets/font-awesome.min.css')
    link(rel='stylesheet', href='/stylesheets/skeleton.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src='/javascripts/jquery-2.1.4.min.js')
    script(type='text/javascript', src='/javascripts/rivets.bundled.min.js')
  body
    block content
